@layer components {
  .fade-up {
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.5s ease;

    &.is-visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .fade-up {
      transform: none;
      opacity: 1;
      transition: none;
    }
  }
}
